 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-image-1 {
  width: 403px;
  height: 389px;
  margin: 92px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.4;
  width: 709px;
  margin: 73px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 612px;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  align-self: center;
  margin: 30px auto 0 346px;
  padding: 10px 64px 11px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -49px auto 60px 596px;
  padding: 10px 64px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-left: 249px;
  }

  .u-section-1 .u-btn-2 {
    margin: -50px 249px 52px 396px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 139px;
  }

  .u-section-1 .u-btn-2 {
    margin: -51px 124px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 39px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 328px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin: 20px auto 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("./images/haWbMqakWP3r4e53pZNDImWgkymPPSa8iCIDtvGJpZyiA==.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 8px 0;
}

.u-section-2 .u-text-3 {
  margin: 12px 38px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 598px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-3 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 3rem;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-6 {
  line-height: 2;
  margin: 20px 9px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1428px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 635px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  font-size: 3rem;
  margin-top: 20px;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-image-1 {
  min-height: 635px;
  background-image: url("./images/Facundo.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 613px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 480px;
  height: 480px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-4 .u-image-1 {
    min-height: 524px;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 505px;
  }

  .u-section-4 .u-image-2 {
    width: 470px;
    height: 470px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 401px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 387px;
  }

  .u-section-4 .u-image-2 {
    width: 360px;
    height: 360px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 602px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 581px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 379px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 366px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 637px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 104px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  width: 765px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  width: 830px;
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  width: 765px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-5 .u-text-3 {
    width: 720px;
  }

  .u-section-5 .u-text-4 {
    width: 720px;
  }

  .u-section-5 .u-text-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-3 {
    width: 540px;
  }

  .u-section-5 .u-text-4 {
    width: 540px;
  }

  .u-section-5 .u-text-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 835px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
}

.u-section-6 .u-image-1 {
  min-height: 635px;
  background-image: url("./images/parque.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 635px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  margin: 20px 109px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 524px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-6 .u-text-2 {
    margin-left: undefined;
  }

  .u-section-6 .u-text-3 {
    margin-left: undefined;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-6 .u-image-1 {
    min-height: 401px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 602px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: undefined;
  }

  .u-section-6 .u-text-3 {
    margin-left: undefined;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 379px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 2285px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 100px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 3rem;
  margin: 21px auto 0;
}

.u-section-7 .u-list-1 {
  width: 868px;
  margin: 30px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 2000px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-4576085.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-5141074.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-10 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-5 {
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-12 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-6 {
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-14 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-7 {
  background-image: none;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-image-7 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-15 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-16 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-8 {
  background-image: none;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px;
}

.u-section-7 .u-image-8 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-17 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-18 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-9 {
  background-image: none;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px;
}

.u-section-7 .u-image-9 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-19 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-20 {
  margin: 20px 0 0 147px;
}

.u-section-7 .u-list-item-10 {
  background-image: none;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px;
}

.u-section-7 .u-image-10 {
  width: 110px;
  height: 110px;
  background-image: url("./images/pexels-photo-2989724.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-21 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -110px auto 0 147px;
}

.u-section-7 .u-text-22 {
  margin: 20px 0 0 147px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 824px;
}

.u-section-8 .u-list-1 {
  width: 446px;
  margin: 86px auto 0 62px;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 221px;
  grid-gap: 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 40px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-8 .u-group-1 {
  width: 446px;
  min-height: 346px;
  height: auto;
  --radius: 10px;
  margin: 23px auto 0 62px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 0 15px;
}

.u-section-8 .u-text-3 {
  margin: 50px 263px 0 38px;
}

.u-section-8 .u-text-4 {
  margin: 0 auto;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-8 .u-icon-1 {
  height: 0;
  font-size: 2.25em;
  margin-right: 20px;
  vertical-align: -11px;
}

.u-section-8 .u-text-5 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-8 .u-icon-2 {
  height: 0;
  font-size: 2em;
  margin-right: 20px;
  vertical-align: -11px;
}

.u-section-8 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-8 .u-btn-4 {
  background-image: none;
  font-size: 1.875rem;
  --radius: 10px;
  padding: 0;
}

.u-section-8 .u-icon-3 {
  margin-right: 20px;
  font-size: 2em;
  vertical-align: -11px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 461px;
  margin: -679px 72px 60px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 341px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 281px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 231px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  font-size: 3rem;
  margin: 14px auto 0 0;
}

.u-section-8 .u-text-8 {
  font-weight: 900;
  font-size: 3rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 309px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-7 {
    margin-left: auto;
  }

  .u-section-8 .u-text-8 {
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 195px;
    margin-left: 30px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    height: 224px;
  }

  .u-section-8 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
  
  
}

.u-section-9 .u-sheet-1{
    padding-top: 40px;
}
.u-section-9 .u-text-1 {
	margin: 0 auto;  
	text-transform: uppercase;
  }
  
.u-section-9 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	text-transform: uppercase;
}

.u-footer .u-text-7 {
	margin: 0 auto;
}

.u-section-9 .u-container-layout-1 {
    padding: 30px;
}

.u-section-9 .u-social-icons-1 {
    height: 48px;
    min-height: 16px;
    width: 100%;
    min-width: 160px;
    margin: 0 auto;
}